<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Node</title>
    {{!-- cdn to bootswacth --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css">
</head>

<body>
    {{>navigation}}
    <div class="container p-4">
        {{{body}}}
    </div>
</body>

</html>